<div class="tabs">
    <a href="/index" class="<%= active === 'index' ? 'active' : '' %>">HOME</a>
    <a href="/max-calc" class="<%= active === 'max-calc' ? 'active' : '' %>">MAX CALC</a>
    <a href="/workouts" class="<%= active === 'workouts' ? 'active' : '' %>">WORKOUTS</a>
    <a href="/public-workouts" class="<%= active === 'public-workouts' ? 'active' : '' %>">PUBLIC WORKOUTS</a>
  </div>
  