.button-style-phone {
    flex-grow: 1;
    background-color: inherit;
    cursor: pointer;
    padding: 8px 10px;
    transition: 0.5s;
    font-size: 55px;
    font-family: 'Bebas Neue';
    border-radius: 1px;
    text-decoration: none;
    color: black;
    border: 2px solid black; /* Add a border */
    margin: 0 10px; /* Add some margin to create a gap between the buttons */
    display: flex; /* Add this */
    align-items: center; /* Add this */
    justify-content: center; /* Add this */
  }
  
  .button-style-phone:hover {
    background-color: #01baef;
  }

  /* maxcalc scroll */
  .scrollable-content {
    overflow-y: auto; /* Always show vertical scrollbar */
    max-height: 55vh;
    /* Adjust height to account for the tab section */
  }
  
  /* Custom scrollbar styles for .scrollable-content */
  .scrollable-content::-webkit-scrollbar {
    width: 25px; 
  }
  
  .scrollable-content::-webkit-scrollbar-track {
    background: #f0f0f0; 
    border-radius: 10px; 
  }
  
  .scrollable-content::-webkit-scrollbar-thumb {
    background-color: #01baef; 
    border-radius: 10px; 
    border: 3px solid #f0f0f0; 
  }
  
  .scrollable-content::-webkit-scrollbar-button {
    display: none; /* Hide the up and down arrows */
  }
  