.button-style-phone {
    flex-grow: 1;
    background-color: inherit;
    cursor: pointer;
    padding: 8px 10px;
    transition: 0.5s;
    font-size: 55px;
    font-family: 'Bebas Neue';
    border-radius: 1px;
    text-decoration: none;
    color: black;
    border: 2px solid black; /* Add a border */
    margin: 0 10px; /* Add some margin to create a gap between the buttons */
    display: flex; /* Add this */
    align-items: center; /* Add this */
    justify-content: center; /* Add this */
  }
  
  .button-style-phone:hover {
    background-color: #01baef;
  }