
.button-style-phone {
    flex-grow: 1;
    background-color: inherit;
    cursor: pointer;
    padding: 8px 10px;
    transition: 0.5s;
    font-size: 55px;
    font-family: 'Bebas Neue';
    border-radius: 1px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    margin: 0 10px; 
    display: flex; 
    align-items: center;  
    justify-content: center;   
  }
  
  .button-style-phone:hover {
    background-color: #01baef;
  }


  .add-exercise {
    flex-grow: 1;
    background-color: inherit;
    cursor: pointer;
    padding: 8px 10px;
    transition: 0.5s;
    font-size: 35px;
    font-family: 'Bebas Neue';
    border-radius: 1px;
    text-decoration: none;
    color: black;
    border: 2px solid black;    
    margin: 0 10px;    
    display: flex;   
    align-items: center;   
    justify-content: center;   
  }
  
  .button-style-phone-workout:hover {
    background-color: #01baef;
  }



  .button-style-phone-workout {
    flex-grow: 1;
    background-color: inherit;
    cursor: pointer;
    padding: 8px 10px;
    transition: 0.5s;
    font-size: 35px;
    font-family: 'Bebas Neue';
    border-radius: 1px;
    text-decoration: none;
    color: black;
    border: 2px solid black;    
    margin: 0 10px;    
    display: flex;   
    align-items: center;   
    justify-content: center;   
  }
  
  .button-style-phone-workout:hover {
    background-color: #01baef;
  }

  .button-style-phone-workout2 {
    flex-grow: 1;
    background-color: #01baef;
    color: white;
    cursor: pointer;
    padding: 8px 10px;
    transition: 0.5s;
    font-size: 35px;
    font-family: 'Bebas Neue';
    border-radius: 1px;
    text-decoration: none;
    border: 2px solid black;    
    margin: 0 10px;    
    display: flex;   
    align-items: center;   
    justify-content: center;   
  }
  
  .button-style-phone-workout2:hover {
    background-color: #01baef;
  }
  
  /* maxcalc scroll */
  .scrollable-content {
    overflow-y: auto; /* Always show vertical scrollbar */
    max-height: 53vh;
    /* Adjust height to account for the tab section */
  }
  
  /* Custom scrollbar styles for .scrollable-content */
  .scrollable-content::-webkit-scrollbar {
    width: 25px; 
  }
  
  .scrollable-content::-webkit-scrollbar-track {
    background: #f0f0f0; 
    border-radius: 10px; 
  }
  
  .scrollable-content::-webkit-scrollbar-thumb {
    background-color: #01baef; 
    border-radius: 10px; 
    border: 3px solid #f0f0f0; 
  }
  
  .scrollable-content::-webkit-scrollbar-button {
    display: none; /* Hide the up and down arrows */
  }
  