<link rel="stylesheet" href="/css/stylesheet.css">


<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>
<p>Hello there  <%= name %> we hope you are doing well  </p>