<!DOCTYPE html>
<style>
  body {
    background-color: white; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start; 
    margin: 100;
    font-size: 90px;
    padding: 0; 
  }

  .container {
    background-color: #01baef;
    width: 100%; 
  }
</style>

<html>
<head>
  <link rel="stylesheet" href="/style/stylesheet.css">
  <link href='style/resources/boxicons/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <div class="container">
    <h1 style ='font-size: 95px; color: white; margin-bottom: 20px; text-align: center;' >splitco</h1>
  </div>
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: flex-start; width: 100%;"> 
    
    <h1>Hi <%= name %></h1>
    <form action="/logout?_method=DELETE" method="POST" class="logout-button">
      <button type="submit">Log Out</button>
    </form>
    <p>Welcome to Splitco where we strive to help you create the ultimate workout</p>
    <p>The services that we offer inlcude, a rep range calculator for three main excercises, Squat, Bench, and Deadlift</p>
    <p>As well as, a Day by Day Workout Split Creator and a forum to share them!</p>

    
  </div>
<%- include('partials/tabs', {active: 'workouts'}) %>

</body>
</html>
