<!DOCTYPE html>
<style>
  body {
    background-color: white; 
    display: flex;
    flex-direction: column; /* Add this */
    align-items: center;
    justify-content: flex-start; /* Change this */
    margin: 100;
    padding: 0; /* Add this */
  }

  .container {
    background-color: #01baef;
    width: 100%; 
  }
</style>

<html>
<head>
  <!-- import css styesheet -->
  <link rel="stylesheet" type="text/css" href="style/stylesheet.css">
  <!-- import local icons -->
  <link href='style/resources/boxicons/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <div class="container">
    <h1 style ='font-size: 95px; color: white; margin-bottom: 20px; text-align: center;' >splitco</h1>
  </div>
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: flex-start; width: 100%;"> <!-- Adjust this -->
    
    <h1>Hi <%= name %></h1>
    <form action="/logout?_method=DELETE" method="POST">
      <button type="submit">Log Out</button>
    </form>
    <p>Hello there <%= name %> we hope you are doing well</p>
    <p>Try out the Max Calculator </p>

    <!-- Rest of your page content goes here -->
  </div>
<%- include('partials/tabs', {active: 'workouts'}) %>

</body>
</html>
