<!DOCTYPE html>
<html>
<head>
  <!-- import css styesheet -->
  <link rel="stylesheet" type="text/css" href="style/stylesheet.css">
  <!-- import local icons -->
  <link href='style/resources/boxicons/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <%- include('partials/tabs', {active: 'public-workouts'}) %>

  <!-- Your page content goes here -->
</body>
</html>
