<!DOCTYPE html>
<html>
<head>
  <!-- import css styesheet -->
  <link rel="stylesheet" type="text/css" href="style/stylesheet.css">
  <!-- import local icons -->
  <link href='style/resources/boxicons/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <%- include('partials/tabs', {active: 'public-workouts'}) %>

  <!-- Post creation form -->
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: flex-start; margin-top: 100px;">
    <form action="/public-workouts" method="post">
      <textarea name="content" placeholder="Write your workout here..."></textarea>
      <button type="submit">Post</button>
    </form>
  </div>

<!-- Display all posts -->
<!-- Display all posts -->
<div style="display: flex; flex-direction: column; align-items: center; justify-content: flex-start; height: 500px; margin-top: 20px; overflow-y: scroll;">
  <% posts.forEach(function(post) { %>
    <div>
      <h2><%= post.users.name %></h2> <!-- Display the user's name -->
      <p><%= post.content %></p> <!-- Display the post content -->
    </div>
  <% }); %>
</div>



  <!-- Your page content goes here -->
</body>
</html>
